div {
  height: auto;
  text-align: center;

  img {
    height: auto;
  }
}

h1 {
  text-align: center;
}

hr {
  border-bottom: 3px green solid;
  width: 50px;
  margin-bottom: 24px;
}

p {
  text-align: center;
  margin: 8px 16px 8px 16px;
  font-size: large;
}

.bottom-button {
  position: fixed;
  left: 0;
  bottom: 0px;
  right: 0;
  --border-radius: 0px;
}